<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <title>Blog Theme Switcher</title>
    <link rel="stylesheet" href="{% static 'styles.css' %}">
    <style>
        body.light-mode {
            background-color: white;
            color: black;
        }

        body.dark-mode {
            background-color: #333;
            color: white;
        }
    </style>
</head>
<body class="{% if theme == 'dark' %}dark-mode{% else %}light-mode{% endif %}">

    <h1>Welcome to My Blog</h1>
    <p>Switch between light and dark mode:</p>
    <a href="{% url 'set_theme_cookie' 'dark' %}">Dark Mode</a> |
    <a href="{% url 'set_theme_cookie' 'light' %}">Light Mode</a> |
    <a href="{% url 'delete_theme_cookie' %}">Reset Theme</a>


</body>
</html>

