

{% extends 'home_layout/_base.html' %} {% block content %}
    <div class="shadow-sm p-1 mb-2 bg-body-tertiary rounded">
        <form method="post">
            {% csrf_token %}
            {{form.as_p}}
            {{form_subject.as_p}}
            <button type= "submit">click me</button>
        </form>
    </div>
    <div>
        <a href="{% url "signup" %}">
            <button type="submit">SignUp</button>
        </a>
    </div>
    <div>
        <a href="{% url "login_page" %}">
            <button type="submit">Login</button>
        </a>
    </div>
    <div>
       <a href="{% url "logout_page" %}">
            <button type="submit">LogOut</button>
        </a>
    </div>
    <div>
       <a href="{% url "write" %}">
            <button type="submit">WriteNewPost</button>
        </a>
    </div>

    <h> tag category</h>

    {%  for item in tag_item %}
        <ul class="nav">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="http://127.0.0.1:8000/pages/tag_id/{{ item }}">
                {{ item }}</a>
          </li>
        </ul>
    {% endfor %}
{% endblock %}